<!DOCTYPE html>
<html>
<head>
	<title>The Performant</title>
	<link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
	<div class="main">
		<h1>The Performant</h1>
		<ul>
			<li class="jquery">
				<h2>jquery</h2>

				<div class="component">
					<form>
						<input placeholder="Select Item" class="edit-box" type="text">	
						<ul class="list"></ul>
					</form>
				</div>
			</li>	
			<li class="backbone">
				<h2>backbone</h2>

				<div class="component"></div>
			</li>	
			<li class="angular">
				<h2>angular</h2>

				<div class="component"></div>
			</li>	
			<li class="react">
				<h2>react</h2>

				<div class="component"></div>
			</li>	
		</ul>	
	</div>

	<script id="tmpl-list-item" type="tmpl">
		<% for ( var i = 0; i < data.length; i++ ){ %>
			<li><a data-index="<%= i %>" href="javascript:void(0)"><%= data[i] %></a></li>
		<% } %>
	</script>
	<!-- comp Data -->
	<script type="application/json" id="data">
		[
			"name",
			"class",
			"yes",
			"no",
			"maybe",
			"yo",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name",
			"name"
		]
	</script>

	<!-- vendor file -->
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
	<script type="text/javascript" src="bower_components/backbone/backbone.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/react/react.js"></script>

	<!-- app files -->
	<script type="text/javascript" src="scripts/demo-jquery.js"></script>
	<script type="text/javascript" src="scripts/demo-backbone.js"></script>
	<script type="text/javascript" src="scripts/demo-angular.js"></script>
	<script type="text/javascript" src="scripts/demo-react.js"></script>
</body>
</html>